body {
  background-color: #fbfbfb !important;
  border-top: 3px solid rgb(96, 181, 204);
}

:global(#app) {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.mask {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 1em !important;
}

.title a {
  color: rgba(0, 0, 0, 0.85);
}

.signedInStatusView {
  position: absolute;
  right: 1rem;
  top: 50%;
  z-index: 100;
}

.commonFooter {
  text-align: center;
}

.mapContainer {
  height: 500px;
  width: 100%;
  background-color: #eee;
}

/* fix */
:global(select.ui.dropdown) {
  height: 39px !important;
}

.heatMap td,
.heatMap th {
  border: none !important;
}

.heatMap td {
  padding: 2px !important;
  width: 4%;
}

.heatMap td div {
  width: 100%;
  height: 1.2em;
  border-radius: 4px;
}

:global(.ui.form .inline.fields).filterItems {
  align-items: start;
}

.hidden {
  display: none;
}

:global(.ui.table) td.singleLineColumn {
  white-space: nowrap;
}

:global(.ui.table td) {
  position: relative;
}

.loginPageImage {
  width: 100%;
  max-height: 500px;
}
